#ignore raw data
raw_data/trainp.csv
raw_data/testp.csv


#ignore intermediate outputs
data_preparation/output/weighted_testp.csv
data_preparation/output/weighted_trainp.csv
grow_tree/output/test_tree_leaf_index.csv
grow_tree/output/train_tree_leaf_index.csv



# End of https://www.gitignore.io/api/R, python
